<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<!--CallWcfLog 是否启用（调用平台方法、返回结果）记录记录日志（true为启动，false为不启动）;主要作为测试调用的反应速度。-->
<!--数据库连接信息 DBType:数据库类型 oracle,mssql,2,mysql -->
<configuration>
  <appSettings>
    <add key="LogPath" value="D:\Log" />
    <add key="CallWcfLog" value="true" />
    <add key="SUBJECTID" value="00161652-e3bf-4e9f-9a57-a9e1ff8cef74" />
    <add key="DBType" value="mssql" />
    <add key="DBAddress" value="10.10.4.126" />
    <add key="DBName" value="TestDB" />
    <add key="DBUserName" value="sa" />
    <add key="DBPassword" value="123" />
    <add key="DBPost" value="" />
  </appSettings>
</configuration>